body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.board-details {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    font-size: 24px;
    margin-bottom: 1.5rem;
    color: #333;
    text-align: center;
}

.details {
    margin-bottom: 1rem;
    color: #666;
    display: flex;
    flex-direction: column;
}

.details strong {
    color: #333;
    margin-right: 0.5rem;
}

.content-box {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 0.5rem;
    white-space: pre-wrap; /* Ensure newlines and spaces are preserved */
}

.actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.link {
    text-decoration: none;
    color: #009879;
    padding: 0.5rem 1rem;
    border: 1px solid #009879;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.link:hover {
    background-color: #009879;
    color: #fff;
}
