<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Form</title>
    <link rel="stylesheet" th:href="@{/css/deleteform.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Orbit&display=swap" rel="stylesheet">
</head>
<body>
<div class="form-container">
    <h1>Delete Form</h1>
    <form th:action="@{/deleteform}" method="post" class="form">
        <input type="hidden" name="id" th:value="${id}">
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
        </div>
        <div class="form-group">
            <input type="submit" value="Delete Board">
        </div>
    </form>


    <div th:if="${message}" class="message">
        <p th:text="${message}"></p>
    </div>
</div>
</body>
</html>
