<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
</head>
<body>
<h1>게시글 수정</h1>
<form th:action="@{/updateform}" method="post" th:object="${board}">
    <input type="hidden" th:field="*{id}" name="id">

    <label for="name">Name :</label>
    <input type="text" id="name" th:field="*{name}" name="name" required/>

    <label for="title">Title :</label>
    <input type="text" id="title" th:field="*{title}" name="title" required/>

    <label for="content">Content :</label>
    <input type="text" id="content" th:field="*{content}" name="content" required/>

    <label for="password">Password :</label>
    <input type="password" id="password" name="password" required/>

    <input type="submit" value="게시글 수정">
</form>

<div th:if="${error}">
    <p th:text="${error}" style="color:red;"></p>
</div>
</body>
</html>