<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글</title>
    <link rel="stylesheet" th:href="@{/css/view.css}">
</head>
<body>
<div class="board-details">
    <h2 th:text="${board.title}"></h2>
    <div class="details">
        <strong>Name:</strong> <span th:text="${board.name}">Name</span>
    </div>
    <div class="details">
        <strong>Content:</strong> <span th:text="${board.content}">Content</span>
    </div>
    <div class="details">
        <strong>작성일:</strong>
        <span th:text="${#temporals.format(board.createdAt, 'yyyy/MM/dd HH:mm')}"></span>
    </div>
    <div class="details">
        <strong>수정일:</strong>
        <span th:text="${#temporals.format(board.updatedAt, 'yyyy/MM/dd HH:mm')}"></span>
    </div>

    <div class="actions">
        <a th:href="@{/list}" class="link">목록</a>
        <a th:href="@{/updateform/{id}(id=${board.id})}" class="link">수정</a>
        <a th:href="@{/deleteform/{id}(id=${board.id})}" class="link">삭제</a>
    </div>
</div>
</body>
</html>
