<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글</title>
</head>
<body>
<div class="board-details">
    <h2 th:text="${board.title}"></h2>
    <div class="details">
        <strong>Name:</strong> <span th:text="${board.name}">Name</span>
    </div>
    <div class="details">
        <strong>Content:</strong> <span th:text="${board.content}">Content</span>
    </div>

    <!-- Update the List link to include the current page, if applicable -->
    <a th:href="@{/list}" class="link">목록</a>
    <a th:href="@{/updateform/{id}(id=${board.id})}" class="link">수정</a>
    <a th:href="@{/deleteform/{id}(id=${board.id})}" class="link"
    >삭제</a>
</div>

</body>
</html>